.navlink{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
   
}
.navlink:hover{
    color:tomato;
    
}

.brand-name{
    
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 5px;
}

.navbar-toggler-icon{
    background-color: cyan;

}

.active{
    background-color:#198754;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
}